<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.jitsi"
      android:versionCode="1"
      android:versionName="1.0">
    <application    android:label="@string/app_name"
                    android:logo="@drawable/actionbaricon"
                    android:icon="@drawable/logoblue"
                    android:theme="@style/JitsiTheme"
                    android:name=".android.JitsiApplication">
        <activity android:name=".android.gui.LauncherActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".android.gui.Jitsi"
                  android:label="@string/app_name"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="org.jitsi.show_contacts" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".android.gui.account.AccountsStatusActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".android.gui.account.AccountEnableActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".android.gui.account.PresenceStatusActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".android.gui.account.AccountLoginActivity"
                    android:label="@string/app_name">
        </activity>
        <activity android:name=".android.gui.contactlist.AddContactActivity"
                  android:label="@string/app_name"/>
        <!-- Dialog Activity -->
        <activity android:name=".android.gui.DialogActivity"
                  android:theme="@android:style/Theme.Holo.Dialog.MinWidth"/>
        <!-- Verify Certificate Activity -->
        <activity android:name=".impl.androidcertdialog.VerifyCertificateActivity"
                  android:theme="@android:style/Theme.Holo.Dialog.MinWidth"/>
        <!-- Authorization requested dialog -->
        <activity android:name=".android.gui.authorization.AuthorizationRequestedDialog"
                  android:label="@string/service_gui_AUTHORIZATION_RESPONSE"
                  android:theme="@android:style/Theme.Holo.Dialog.MinWidth"
                />
        <!-- Request authorization dialog -->
        <activity android:name=".android.gui.authorization.RequestAuthorizationDialog"
                  android:label="@string/service_gui_REQUEST_AUTHORIZATION"
                  android:theme="@android:style/Theme.Holo.Dialog.MinWidth"/>
        <activity android:name=".android.gui.call.CallContactActivity"
                    android:label="@string/app_name"
                    android:icon="@drawable/actionbaricon"
                    android:launchMode="singleTask">
            <intent-filter> 
                <action android:name="android.intent.action.CALL" />
                <action android:name="android.intent.action.CALL_PRIVILEGED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
        </activity>
        <activity android:name=".android.gui.call.VideoCallActivity"
                    android:label="@string/app_name"
                    android:launchMode="singleInstance">
        </activity>
        <activity android:name=".android.gui.call.ReceivedCallActivity"
                    android:label="@string/app_name">
        </activity>
        <activity android:name=".android.gui.chat.ChatActivity"
                    android:label="@string/app_name">
        </activity>
        <activity android:name=".android.plugin.otr.OtrAuthenticateDialog"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.Dialog.MinWidth"/>
        <!-- Call control from the status bar notification -->
        <receiver android:name=".android.gui.call.notification.CallControl" >
            <intent-filter>
                <action android:name="org.jitsi.call.control" />
            </intent-filter>
        </receiver>
        <!-- Chat link clicked handler -->
        <activity android:name=".android.gui.chat.JitsiProtocolReceiver"
                  android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="jitsi" />
            </intent-filter>
        </activity>
        <activity android:name=".android.gui.settings.SettingsActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".android.gui.settings.EncodingSettings"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name=".android.gui.settings.EncodingSettings" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".android.gui.settings.ChatSecuritySettings"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name=".android.gui.settings.ChatSecuritySettings" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".android.gui.settings.OtrPrivatekeys"
                  android:label="@string/service_gui_settings_OTR_PRIV_KEYS_TITLE">
            <intent-filter>
                <action android:name=".android.gui.settings.OtrPrivatekeys" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".android.gui.settings.OtrFingerprints"
                  android:label="@string/service_gui_settings_OTR_FINGERPRINTS_TITLE">
            <intent-filter>
                <action android:name=".android.gui.settings.OtrFingerprints" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".android.gui.account.settings.AccountPreferencesActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".android.gui.account.settings.EncodingActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".android.gui.account.settings.SecurityActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".android.gui.account.settings.ServerListActivity"
                  android:label="@string/app_name">
        </activity>

        <!--<activity android:name=".android.gui.account.AccountPreferencesActivity"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
               <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>-->
        <service android:name=".service.osgi.OSGiService" />
        <service android:name=".android.gui.account.AccountAuthenticatorService"
              android:exported="true" android:process=":auth">
          <intent-filter>
              <action android:name="android.accounts.AccountAuthenticator" />
          </intent-filter>
          <meta-data android:name="android.accounts.AccountAuthenticator"
              android:resource="@xml/authenticator" />
      </service>
    </application>
    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-feature android:name="android.hardware.sip.voip" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17"/>
</manifest>
